@model Mooshak2.Models.Entities.UsersCourse

@{
    ViewBag.Title = "Tengja notendur og áfanga";
}



@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    <h2 class="connect-title">Tengja saman</h2>
    <h2 class="connect-title-2">notanda og áfanga</h2>
    <div class="form-horizontal connect-box">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.UserID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select name="UserID" class="form-control">
                    @foreach(var user in ViewBag.users)
                    {
                        <option value="@user.Id">@user.FullName</option>
                    }
                </select>
                @Html.ValidationMessageFor(model => model.UserID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CourseID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select name="CourseID" class="form-control">
                    @foreach (var course in ViewBag.courses)
                    {
                        <option value="@course.ID">@course.Title</option>
                    }
                </select>

                @Html.ValidationMessageFor(model => model.CourseID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RoleID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RoleID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RoleID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default connect-button" />
            </div>
        </div>
    </div>
}

<div class="back-to-list">
    @Html.ActionLink("Back to List", "Index")
</div>
