@model Mooshak2.Models.ViewModels.CoursesCreateViewModel
@{
    ViewBag.Title = "Create Course";
}


@using (Html.BeginForm())
{
    <h2 class="create-course-title">Create Course</h2>
    @Html.AntiForgeryToken()
    <div class="form-horizontal create-course-box">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.course.Title, "Title", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.course.Title, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.course.Description, "Description", htmlAttributes: new { @class = "control-label col-md-2" })

            <div class="col-md-10">
                @Html.TextAreaFor(model => model.course.Description, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.course.DateCreated, "DateCreated", htmlAttributes: new { @class = "control-label col-md-2" })

            <div class="col-md-10">
                @Html.EditorFor(model => model.course.DateCreated, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create Course" class="btn btn-default create-course-button" />
            </div>
        </div>
    </div>

}