@model Mooshak2.Models.ViewModels.AssignmentCreateViewModel

@{
    ViewBag.Title = "Create Assignment";
}

<h2>CreateTest</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Assignment</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.assignment.Title, "Title", htmlAttributes: new { @class = "control-label col-md-2" })

            <div class="col-md-10">
                @Html.EditorFor(model => model.assignment.Title, new { htmlAttributes = new { @class = "form-control" } })

            </div>

        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.assignment.Description, "Description", htmlAttributes: new { @class = "control-label col-md-2" })

            <div class="col-md-10">
                @Html.TextAreaFor(model => model.assignment.Description, new { htmlAttributes = new { @class = "form-control" } })
            </div>

        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.assignment.OpeningDate, "OpeningDate", htmlAttributes: new { @class = "control-label col-md-2" })

            <div class="col-md-10">
                @Html.EditorFor(model => model.assignment.OpeningDate, new { htmlAttributes = new { @class = "form-control" } })
            </div>

        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.assignment.ClosingDate, "ClosingDate", htmlAttributes: new { @class = "control-label col-md-2" })

            <div class="col-md-10">
                @Html.EditorFor(model => model.assignment.ClosingDate, new { htmlAttributes = new { @class = "form-control" } })
            </div>

        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.assignment.SubmissionLimit, "SubmissionLimit", htmlAttributes: new { @class = "control-label col-md-2" })

            <div class="col-md-10">
                @Html.EditorFor(model => model.assignment.SubmissionLimit, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.assignment.CourseID, "CourseID", htmlAttributes: new { @class = "control-label col-md-2" })

            <div class="col-md-10">
                @Html.EditorFor(model => model.assignment.CourseID, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit assignment" class="btn btn-default" />
            </div>
        </div>

    </div>
}
